executor {
    $slurm {
        queueSize = 500 //edit this
        account = 'username' //edit this
        jobName = {"${task.process}_${task.hash}"}
        submitRateLimit = '10sec'
    }

    $local {
        cpus = 4
        queueSize = 4
        memory = 32.GB
    }
}

apptainer {
    enabled = true
    cacheDir = "$projectDir/cache/"
    autoMounts = true
}

process {
    //global options for all processes
    executor = 'slurm'
    errorStrategy = 'retry'
    maxRetries = 3

    //edit these options for your account and cluster details
    //delete any option you don't need to use
    clusterOptions = "-N 1 --partition=partition_name --qos=quality_of_service --mail-type=FAIL,TIME_LIMIT --mail-user=you@example.com"
    
    //process specific options
    //if you run into resource constriants change these values 
        withLabel: 'small' {
        cpus = 1
        memory = 2.GB
        time = '1h'
    }

        withLabel: 'med' {
        cpus = 3
        memory = 6.GB
        time = '1h'
    }

        withLabel: 'large' {
        cpus = 4
        memory = 8.GB
        time = '3h'
    }

        withLabel: 'large' {
        cpus = 32
        memory = 64.GB
        time = '6h'
    }
}